
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(120deg, #0f0c29, #302b63, #24243e);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Orbitron', sans-serif;
      color: black;
      overflow: hidden;
    }

    #powerWords {
      font-family: 'Orbitron', sans-serif;
      font-size: 12;
      text-align: center;
      color: #00fff7;
      background: rgba(0, 0, 0, 0.5);
      padding: 15px 25px;
      border: 2px solid #00fff7;
      border-radius: 12px;
      margin-bottom: 30px;
      box-shadow: 0 0 20px #00fff7;
    }

    .login-container {
      background: rgba(0, 0, 0, 0.3);
      border: 2px solid #00fff7;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 0 0 30px blue;
      width: 200px;
      backdrop-filter: blur(10px);
      position: relative;
      z-index: 2;
    }

    .login-container::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background: linear-gradient(27deg, transparent, #00fff7, transparent);
      z-index: -1;
      filter: blur(20px);
      animation: rotate 10s linear infinite;
    }

    @keyframes rotate {
      0% { transform: rotate(0deg);}
      100% { transform: rotate(360deg);}
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .login-container input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      background: transparent;
      border: 2px solid #00fff7;
      border-radius: 10px;
      color: black;
      font-size: 16px;
    }

    .login-container input::placeholder {
      color: black;
    }

    .login-container button {
      text-align: center;
      background: #00fff7;
      padding: 14px;
      border-radius: 14px;
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 1em;
      transition: background 0.3s, transform 0.2s;
    }

    .login-container button:hover {
      background: #00e0cc;
    }
    .button-group {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 30px;
    }
    .button-group a {
      text-align: center;
      background: #00fff7;
      padding: 14px;
      border-radius: 14px;
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 1em;
      transition: background 0.3s, transform 0.2s;
    }
    
    .button-group a:hover {
      background: #00ffff44;
      transform: translateY(-2px);
    }

      